@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 21.33333px;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 32px;
  }
}

body {
  margin: 20rem;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  font-size: 10vw;
}

h2 {
  font-size: 5vw;
}

h3 {
  font-weight: 500;
  font-size: 3vw;
}

h4 {
  font-size: fs(xxl);
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3vw;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #32312e;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: mw(xl);
  }
}

@media screen and (min-width: 2560px) {
  .container {
    max-width: mw(xxl);
  }
}

@media screen and (min-width: 3840px) {
  .container {
    max-width: mw(xxxl);
  }
}

.btn {
  display: inline-block;
  font-size: 1rem;
  border: 0.15em solid;
  border-radius: 0.25em;
  border: 2px solid transparent;
  outline: none;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn::first-letter {
  text-transform: capitalize;
}

.btn-primary {
  color: #fff;
  background-color: rgba(52, 152, 219, 0.8);
}

.btn-primary:hover {
  background-color: #fff;
  color: #32312e;
  -webkit-box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.25);
}

.btn-light {
  color: #32312e;
  background-color: #fff;
}

.btn-light:hover {
  -webkit-box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.25);
}

.btn-outline-primary {
  background-color: #fff;
  border-color: #3498db;
  color: #3498db;
}

.btn-outline-primary:hover {
  background-color: #3498db;
  color: #fff;
}

.btn-sm {
  font-size: 0.8rem;
}

.btn-lg {
  font-size: 2rem;
}

.btn-block {
  width: 100%;
}

.btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.border {
  border: 1px solid #6c757d;
}

.border-primary {
  border-color: #3498db;
}

.text-secondary {
  color: #6c757d;
}

.bg-secondary {
  background: #6c757d;
}

.rounded-circle {
  padding: 0;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rounded-pill {
  border-radius: 10rem;
}

.glyphicon {
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.3rem;
}

.glyphicon-chevron-right {
  border: solid #6c757d;
  border-width: 0.15rem 0.15rem 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.glyphicon-chevron-right-primary {
  border-color: #3498db;
}

.glyphicon-chevron-left:before {
  border: solid #6c757d;
  border-width: 0.15rem 0.15rem 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.glyphicon-chevron-left:before-primary {
  border-color: #3498db;
}

.glyphicon-dot {
  width: 0.5rem;
  height: 0.5rem;
  background: #6c757d;
  border-radius: 50%;
}

.glyphicon-dot-primary {
  background: #3498db;
}

body {
  background-color: #e8eff5;
}

.neo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1), -1rem -1rem 2rem white;
          box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1), -1rem -1rem 2rem white;
}

.neo:hover {
  -webkit-box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1), inset -1rem -1rem 2rem white;
          box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1), inset -1rem -1rem 2rem white;
}

.neo-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: -2px -2px 8px white, -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.neo-2:hover {
  -webkit-box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: inset -2px -2px 8px white, inset -2px -2px 12px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.neo-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10rem;
  width: 66px;
  height: 66px;
  border-radius: 20px;
  -webkit-transition: -webkit-box-shadow 399ms ease-in-out;
  transition: -webkit-box-shadow 399ms ease-in-out;
  transition: box-shadow 399ms ease-in-out;
  transition: box-shadow 399ms ease-in-out, -webkit-box-shadow 399ms ease-in-out;
  -webkit-box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.neo-3:hover {
  -webkit-box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
          box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}
/*# sourceMappingURL=index.css.map */